<section class="workout-screen">

  <article class="instruction-area">
    <div>
      <h1 id="timer">...</h1>
    </div>


    <h1 id="instruction">...</h1>


    <div>
      <h4 id="next-exercise"> </h4>
    </div>

    <button type="button" class="purple-btn" id="complete-btn">DONE</button>
  </article>

</section>