<!-- list.html -->

<header class="workout_title">
  <h2>{{listName}} Workout</h2>
  <button ng-click="backToHome()" type="button" class="" id="back"><h4>Back to Lists</h4></button>
</header>

<aside class="duration">
  <form class="form-timer" ng-submit="updateTimer(highTime, lowTime)">
    <div class="time-edit">
      High Intensity (s): <input type="number" ng-model="highTime" required>
    </div>

    <div class="time-edit">
      Rest (s): <input type="number" ng-model="lowTime" required>
    </div>

    <div class="time-submit">
      <input type="submit" value="Update" class="small-btn">
    </div>
  </form>
</aside>


<ng-include
  src="'templates/partials/_add_exercise_form.html'">
</ng-include>

<ng-include src="'templates/partials/_playlist.html'">
</ng-include>



<button ng-click="startHIIT(listId)" type="button" class="purple-btn" id="start"><h4>BEGIN HIIT</h4></button>