<!-- show.html.erb -->
<h1>WELCOME to HIIT List!</h1>



<p>If the user is logged in, this will show the user's logged in view.</p>

<p>If a user is not logged in, this will display a login or register option.</p>

