/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

.section {
  padding: 5em 1.0em;
}


.header {
  a, a:visited {
    @include transition(color 0.2s ease-in-out);

    &:hover, &:focus {
      @include transition(color 0.2s ease-in-out);
      color: lighten($link-color, 16%);
    }
  }
}


nav {
  max-height: initial;
  clear: none;
  width: inherit;
  padding: 0.4em 0;
}

.nav {
  display: inline-block;

  li {
    display: inline-block;
    a {
      border: 2px solid rgba($white, 0);
      border-radius: 4px;
      @include transition(color 0.2s ease-in-out);


      &:hover, &:focus {
        @include transition(color 0.2s ease-in-out);
        text-decoration: none;
        /*color: rgba($white, 0.5);*/
        color: $link-color;
        background: initial;
      }
    }

    &:first-child {
      display: inline-block;
      border: 1px solid $white;
      border-radius: 4px;
      @include transition(background 0.2s ease-in-out);

      a:link {
        border: none;
      }
      a:hover {
        color: $dark-gray;
      }
      &:hover, &:focus {
        @include transition(background 0.2s ease-in-out);
        background: rgba($white, 1.0);
      }
    }
  }

  ul.sub-menu {
    display: none;
  }

}

#menu-btn,
#menu-btn-close {
  display: none;
}
#menu-nav_menu {
  border-top: none;
}


#logo {
  width: 35%;
  padding: 0.5em 0.25em;
  font-size: 1.7em;
}

.svg-logo{
  width: 60px;
  height: 60px;
}

.article.service {
  width: 21%;
  margin: 2%;
}

.article.doctor {
  width: 33%;
  display: inline-block;
  position: relative;
  float: left;
  margin: 3% auto;
  padding: 0;

  .img-wrap {
    margin: 0 auto;
    display: block;
    float: none;
  }

  h3,
  p {
    float: none;
    display: block;
    width: 60%;
    margin: 2% auto;
  }
}


/*  NOT YET SUPPORTED
.what-we-do {
  h3 {
    float: right;
    vertical-align: top;
    margin: 4em 1.5em;
  }
}

*/