/******************************************************************
Site Name: Chronic Pain Psychology Center
Author: Alfred Calayag

Stylesheet: Backgrounds

Description: This sheet contains the background colors that fit within the color schema.

******************************************************************/

  .bg-white {
    background-color: $white;
  }

  .bg-light-gray {
    background-color: $light-gray;
  }
